// .pagination {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .pagination-btn {
//   margin-top: 10px;
//   padding: 14px 18px;
//   @include fonts(1.33, 500, 12px, center, null, uppercase);
//   background-color: var(--accent-color);
//   color: var(--first-text-color);
//   border-radius: 5px;
//   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     transform: scale(1.1);
//     box-shadow: 0 0 2px var(--accent-color), 0 0 10px var(--accent-color);
//   }
// }

// .pagination-list {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-top: 40px;
//   padding-bottom: 40px;
//   @media screen and (min-width: 768px) {
//     padding-top: 60px;
//     padding-bottom: 60px;
//   }
// }

// .pagination-item {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 40px;
//   height: 40px;
//   border-radius: 5px;
//   & .pagination-number-text {
//     @include fonts(1.33, 500, 12px, null, null, null);
//     &.light {
//       color: var(--second-text-color);
//     }
//     &.dark {
//       color: var(--first-text-color);
//     }
//   }
//   &.pagination-button {
//     cursor: pointer;
//     background-color: #f7f7f7;
//     transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &.pagination-prev {
//       background-image: url(../images/arrow-left-black.svg);
//       background-position: center;
//       background-repeat: no-repeat;
//       &:hover,
//       &:focus {
//         background-color: var(--accent-color);
//         background-image: url(../images/arrow-left-white.svg);
//         transform: scale(1.1);
//       }
//       &.disabled {
//         cursor: default;
//         opacity: 0.5;
//         &:hover,
//         &:focus {
//           background-image: url(../images/arrow-left-black.svg);
//           background-color: #f7f7f7;
//           transform: scale(1);
//         }
//       }
//     }
//     &.pagination-next {
//       background-image: url(../images/arrow-right-black.svg);
//       background-position: center;
//       background-repeat: no-repeat;
//       &:hover,
//       &:focus {
//         background-color: var(--accent-color);
//         background-image: url(../images/arrow-right-white.svg);
//         transform: scale(1.1);
//       }
//       &.disabled {
//         cursor: default;
//         opacity: 0.5;
//         &:hover,
//         &:focus {
//           background-image: url(../images/arrow-right-black.svg);
//           background-color: #f7f7f7;
//           transform: scale(1);
//         }
//       }
//     }
//   }
//   &.pagination-number {
//     cursor: pointer;
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//       outline: 2px solid var(--accent-color);
//       outline-offset: -3px;
//       transform: scale(1.1);
//     }
//     &.active {
//       cursor: default;
//       background-color: var(--accent-color);
//       & .pagination-number-text.light {
//         color: var(--first-text-color);
//       }
//       & .pagination-number-text.dark {
//         color: var(--second-text-color);
//       }
//       &:hover,
//       &:focus {
//         outline: none;
//         transform: scale(1);
//       }
//     }
//     &.loaded {
//       outline: 2px solid var(--accent-color);
//       outline-offset: -3px;
//     }
//   }
// }

// .pagination-item.first-num,
// .pagination-item.last-num,
// .pagination-item.pagination-dots {
//   display: none;
//   @media screen and (min-width: 768px) {
//     display: flex;
//   }
// }

//////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.film-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include tablet {
    gap: 32px;
  }

  @include desktop {
    gap: 16px;
  }
}

.cart {
  width: 100%;
  height: 440px;

  @include tablet {
    width: calc((100% - 32px) / 2);
    height: 495px;
  }

  @include desktop {
    width: calc((100% - 64px) / 3);
    height: 634px;
    margin-bottom: 16px;
  }
}

.cart__link {
  width: 100%;
}
