<select class='js-filter-genres filters__item' name='select-genre'>
  <option value='' selected>Усі жанри:</option>
  <option value='28'>Бойовик</option>
  <option value='12'>Пригоди</option>
  <option value='16'>Мультфільм</option>
  <option value='35'>Комедія</option>
  <option value='80'>Кримінал</option>
  <option value='99'>Документальний</option>
  <option value='18'>Драма</option>
  <option value='10751'>Сімейний</option>
  <option value='14'>Фентезі</option>
  <option value='36'>Історичний</option>
  <option value='27'>Жахи</option>
  <option value='10402'>Музика</option>
  <option value='9648'>Детектив</option>
  <option value='10749'>Мелодрама</option>
  <option value='878'>Фантастика</option>
  <option value='10770'>Телефільм</option>
  <option value='53'>Трилер</option>
  <option value='10752'>Військовий</option>
  <option value='37'>Вестерн</option>
</select>