<div class="backdrop">
  <div class="modal container">
    <button type="button" class="modal-close-btn">
      <svg class="modal-icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div>
      <!-- Сюда Идёт основная информация о фильме из hbs -->
    </div>
    <div class="add-btns">
      <button type="button" class="watch_btn">add to Watched</button>
      <button type="button" class="queue_btn">add to queue</button>
    </div>
  </div>
</div>
