<div class="backdrop" data-modal>
  <div class="modal-container">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close_24px"></use>
      </svg>
    </button>
    <div class="modal-info">
      <!-- Сюда Идёт основная информация о фильме из hbs -->
        <div class="add-btns">
      <button type="button" class="watch_btn modal-btn"><span>add to Watched</span></button>
      <button type="button" class="queue_btn modal-btn"><span>add to queue</span></button>
    </div>
    </div>
    <!-- <div class="add-btns">
      <button type="button" class="watch_btn modal-btn">add to Watched</button>
      <button type="button" class="queue_btn modal-btn">add to queue</button>
    </div> -->
  </div>
</div>
