<div class="modal-backdrop is-hidden">
  <div class="modal-team">

     <h2 class="modal__container-title">Our team</h2>

    <button class="modal-team__btn" type="button">
      <svg class="modal-team__icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="modal__container">

          <div class="team-wrapper">
          <img class="team-wrapper__image" src="./images/our-team/member-1.jpg" alt="Member">
            <p class="team-wrapper__member">Oleksiy Ponomaryov</p>
            <p class="team-wrapper__role">Team Lead</p>
          </div>

        
          <div class="team-wrapper">
            <img class="team-wrapper__image" src="./images/our-team/member-2.jpg" alt="Member">
            <p class="team-wrapper__member">Vadym Bondarenko</p>
            <p class="team-wrapper__role">Scrum Master</p>
          </div>

          <div class="team-wrapper">
            <img class="team-wrapper__image" src="./images/our-team/member-3.jpg" alt="Member">
            <p class="team-wrapper__member">Igor<br>Duhota</p>
            <p class="team-wrapper__role">Developer</p>
          </div>
       
          <div class="team-wrapper">
            <img class="team-wrapper__image" src="./images/our-team/member-4.jpg" alt="Member">
            <p class="team-wrapper__member">Kyrylo<br>Dyachenko</p>
            <p class="team-wrapper__role">Developer</p>
          </div>
      
       
          <div class="team-wrapper">
            <img class="team-wrapper__image" src="./images/our-team/member-5.jpg" alt="Member">
            <p class="team-wrapper__member">Andrew<br>Brovko</p>
            <p class="team-wrapper__role">Developer</p>
          </div>
       
          <div class="team-wrapper">
            <img class="team-wrapper__image" src="./images/our-team/member-6.jpg" alt="Member">
            <p class="team-wrapper__member">Andrew<br>Peshko</p>
            <p class="team-wrapper__role">Developer</p>
          </div>
       
          <div class="team-wrapper">
            <img class="team-wrapper__image" src="./images/our-team/member-7.jpg" alt="Member">
            <p class="team-wrapper__member">Olena<br>Derevyanko</p>
            <p class="team-wrapper__role">Developer</p>
          </div>
        
          <div class="team-wrapper">
            <img class="team-wrapper__image" src="./images/our-team/member-8.jpg" alt="Member">
            <p class="team-wrapper__member">Marta<br>Litvinchuk</p>
            <p class="team-wrapper__role">Developer</p>
          </div>
      
    </div>
  </div>
</div>
