<div class="modal-backdrop is-hidden">
  <div class="modal-team">
    <button class="modal-team__btn" type="button">
      <svg class="modal-team__icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__container">
      <h1 class="modal__container-title">Our team</h1>

      <div class="team-members__container">
        <img
          class="team-members__img"
          src="./images/our-team/our-team.jpg"
          alt="Our Team"
          width="750"
          loading="lazy"
        />
      </div>

      <ul class="modal-team__list">
        <li class="modal-team__item">
          <div class="team-wrapper">
            <p class="modal-team__member">Oleksiy Ponomaryov</p>
            <p class="modal-team__role">Team Lead</p>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="team-wrapper">
            <p class="modal-team__member">Vadym Bondarenko</p>
            <p class="modal-team__role">Scrum Master</p>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="team-wrapper">
            <p class="modal-team__member">Andrew Brovko</p>
            <p class="modal-team__role">Developer</p>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="team-wrapper">
            <p class="modal-team__member">Igor Duhota</p>
            <p class="modal-team__role">Developer</p>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="team-wrapper">
            <p class="modal-team__member">Kyrylo Dyachenko</p>
            <p class="modal-team__role">Developer</p>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="team-wrapper">
            <p class="modal-team__member">Olena Derevyanko</p>
            <p class="modal-team__role">Developer</p>
          </div>
        </li>

        <li class="modal-team__item">
          <div class="team-wrapper">
            <p class="modal-team__member">Marta Litvinchuk</p>
            <p class="modal-team__role">Developer</p>
          
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
