<header class="header-library">
    <div class="container header__container">
        <div class="nav-library">

            <!-- Логотип з назвою -->
            <a class="nav-library__logo" href="./index.html">
                <svg class="header-library__icon" width="24px" height="24px">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg><span class="header-library__tittle">Filmoteka</span></a>

            <!-- Меню -->
            <ul class="header-library__list">
                <li><a class="header-library__link" href="./index.html">Home</a></li>
                <li>
                    <a class="header-library__link site-nav__link--current" href="#">My Library</a>
                </li>
            </ul>
        </div>

        <!-- Кнопки -->
        <div class="header-library__btn-list">
            <button class="header-library__btn" name="button" type="button">Watched</button>
            <button class="header-library__btn" name="button" type="button">Queue</button>
        </div>

</header>


<!-- Контейнер My Library - ПОШУКАТИ КАРТИНКУ + ДОБАВИТИ КНОПКУ, ЯКА ПЕРЕХОДИТЬ НА ГОЛОВНУ СТОРІНКУ -->
<!-- <section class="section">
    <div class="container">
        <h2 class="visually-hidden">Movie Library</h2>
        <div>
            <img class="visually-hidden" src="#" alt="empty" />
        </div>
    </div>



</section> -->