<header class="header-library">
    <div class="container header__container">
        <div class="nav-library">

            <!-- Logo -->
            <a class="nav-library__logo" href="./index.html">
                <svg class="header-library__icon" width="24px" height="24px">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg><span class="header-library__tittle">Filmoteka</span></a>

            <!-- Navigation -->
            <ul class="header-library__list">
                <li><a class="header-library__link" href="./index.html">Home</a></li>
                <li>
                    <a class="header-library__link header-library__link--active" id="library" href="#">My Library</a>
                </li>
            </ul>
        </div>

        <!-- Button -->
        <div class="header-library__btn-list">
            <button class="header-library__btn" name="button" type="button">Watched</button>
            <button class="header-library__btn" name="button" type="button">Queue</button>
        </div>

</header>


<!-- Контейнер My Library -->
<section class="section library">
    <div class="container">
        <h2 class="visually-hidden">Movie Library</h2>
        <div class="plug">
            <div class="plug-text">
                <p>Oops.. there is nothing here yet.</p>
                <p>Please add movies to your watched or queue lists.</p>
            </div>
            <img class="plug-img" src="https://media.giphy.com/media/rofsCdigOv1wk/giphy.gif" alt="nothing" />
        </div>
    </div>
</section>