<div class="glide container slider-js">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
            <li class="glide__slide">
                <img class="slider-js__img" src="#" alt="#" />
            </li>
        </ul>


        <div class="glide__arrows" data-glide-el="controls">
            <button class="slider-js__btn slider-js__btn--right" type="button" data-glide-dir="<"></button>
            <button class="slider-js__btn slider-js__btn--left" type="button" data-glide-dir=">"></button>
        </div>

    </div>
</div>