:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.container-gallery {
  min-width: 320px;

  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;

  margin-left: auto;
  margin-right: auto;
  background: $mainBg-color;

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-top: 60px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-top: 60px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 60px;
  }
}

.card__img {
  width: 280px;
  height: 398px;
  transition: scale 200ms linear;
  @media screen and (min-width: $tablet) {
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: $desktop) {
    width: 395px;
    height: 574px;
  }
}
.card__img:hover {
  scale: 1.07;
}

.collection {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin-bottom: 60px;

  }
}

.collection__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  height: 438px;
  // height: 100%;
  overflow: hidden;
  // border: solid 1px;
  @media screen and (max-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }


  @media screen and (min-width: $tablet) {
    // flex-basis: calc(100% / 2 - 40px);
    margin-bottom: 32px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
    width: 336px;
    height: 495px;
    // height: 100%;
    &:nth-child(2n) {
      margin-left: 32px;
    }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 16px;
    margin-bottom: 32px;
    width: 394px;
    height: 634px;
    // height: 100%;
    &:nth-child(2n) {
      margin-left: 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(-n + 3) {
      margin-top: 0;
    }
  }
}

.collection__item {
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: box-shadow 200ms linear;
}

.collection__item:hover,
.collection__item:focus {
  box-shadow: rgba(0, 0, 0, 0.45) 5px 5px 15px;
}

.load-more:hover {
  background-color: $accentBg-color;
  color: $header-text-color;
}

.load-more {
  cursor: pointer;
  height: 40px;
  width: 148px;
  border-radius: 6px;
  border: 0;
  display: block;
  margin: 0 auto;
  background-color: #f7f7f7;
  color: $main-text-color;
  font: inherit;
  font-weight: 500;

  transition: background-color, color,
    var(--animation-duration) var(--timing-function);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3),
    2px 1px 2px 1px rgba(0, 0, 0, 0.14), 1px 2px 1px -1px rgba(0, 0, 0, 0.12);
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cart__title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500px;
  line-height: 1.2;
  font-size: 20px;
  pointer-events: none;
  display: block;
  margin-top: 12px;
}

.cart__wrap {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ff6b08;
  text-transform: capitalize;
  display: inherit;
  flex-direction: inherit;
  display: flex;
}

