:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.container-gallery {
  min-width: 320px;

  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;

  margin-left: auto;
  margin-right: auto;
  background: $mainBg-color;

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-top: 60px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-top: 60px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 60px;
  }
  &.dark {
    background-color: #23292f;
  }
}

.img__wrap {
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
}

.card__img {
  width: 280px;
  height: 398px;
  transition: scale 200ms linear;
  @media screen and (min-width: $tablet) {
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: $desktop) {
    width: 395px;
    height: 574px;
  }
}
.card__img:hover {
  scale: 1.07;
}

.collection {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    row-gap: 32px;
    column-gap: 16px;
    max-width: 1280px;
    margin-bottom: 60px;
  }
}

.collection__item {
  display: block;
  width: 280px;
  height: 440px;
  // height: 100%;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  // box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px,
  //   rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: box-shadow 200ms linear;

  // @media screen and (max-width: 767px) {
  //   &:not(:last-child) {
  //     margin-bottom: 20px;
  //   }
  // }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 64px) / 2);
    width: 336px;
    height: 500px;
    // margin-bottom: 32px;
    // &:nth-last-child(-n + 2) {
    //   margin-bottom: 0px;
    // }
    // // height: 100%;
    // &:nth-child(2n) {
    //   margin-left: 32px;
    // }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 32px) / 3);
    width: 394px;
    height: 634px;
    // height: 100%;
    // margin-right: 16px;
    // margin-bottom: 32px;
    // &:nth-child(2n) {
    //   margin-left: 0;
    // }
    // &:nth-child(3n) {
    //   margin-right: 0;
    // }
    // &:nth-child(3n + 1) {
    //   margin-left: 15px;
    // }
    // &:nth-child(-n + 3) {
    //   margin-top: 0;
    // }
  }
}

.lds-dual-ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  background-color: gray;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
// .collection__item:hover,
// .collection__item:focus {
//   // box-shadow: rgba(0, 0, 0, 0.45) 5px 5px 15px;
// }

// .load-more:hover {
//   background-color: $accentBg-color;
//   color: $header-text-color;
// }

// .load-more {
//   cursor: pointer;
//   height: 40px;
//   width: 148px;
//   border-radius: 6px;
//   border: 0;
//   display: block;
//   margin: 0 auto;
//   background-color: #f7f7f7;
//   color: $main-text-color;
//   font: inherit;
//   font-weight: 500;

//   transition: background-color, color,
//     var(--animation-duration) var(--timing-function);
//   box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3),
//     2px 1px 2px 1px rgba(0, 0, 0, 0.14), 1px 2px 1px -1px rgba(0, 0, 0, 0.12);
// }

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cart__title {
  font-family: 'Roboto';
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500px;
  line-height: 1.2;
  font-size: 20px;
  pointer-events: none;
  display: block;
  margin-top: 12px;
  white-space: nowrap; // Выводим текст в одну строку
  overflow: hidden; // Обрезаем то, что выходит за рамки блока
  text-overflow: ellipsis; // Добавляем троеточие вконце текста
  @media screen and (min-width: $mobile) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    font-size: 12px;
    line-height: 1.33;
  }
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.cart__wrap {
  font-family: 'Roboto';
  font-weight: 500;
  color: $secondary-text-color;
  text-transform: capitalize;

  flex-direction: inherit;
  display: flex;
  align-items: center;
  @media screen and (min-width: $mobile) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    font-size: 12px;
    line-height: 1.33;
  }
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.cart__rating {
  width: 36px;
  height: 16px;
  margin-right: 8px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $header-text-color;
  background: $buttonBg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    width: 40px;
    height: 20px;
  }
}

.cart__year {
  margin-right: 8px;
}
