body.modal-open {
  overflow: scroll;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: opacity 0.5s, visibility 0.5s;

}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-team__btn {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: -20px;
  align-items: center;
  border: none;

  @media screen and (max-width: ($tablet - 1)) {
    top: -5px;
    right: -25px;
  }
}

.modal__container {
  display: flex;
  flex-wrap: wrap;

  margin: -20px;

  @media screen and (max-width: ($tablet - 1)) {
    margin: -30px;
    padding: 30px;
  }

  width: 240px;

  background-color:rgb(250, 228, 199);
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    width: 600px;
    margin: -30px;
    padding: 30px;
    border-radius: 15px;
  }

  @media screen and (min-width: $desktop) {
    height: 100%;
    width: 800px;
    margin: -30px;
    padding: 30px;

  }
}

.modal__container-title {
  margin: auto;
  text-align: center;
  align-items: center;

  @media screen and (max-width: ($tablet - 1)) {
    font-size: 15px;
  }
}

.team-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px;

  width: calc((100% - 80px) / 2);

  @media screen and (min-width: $tablet) {
    width: calc((100% - 160px) / 4);
  }

  @media screen and (min-width: $desktop) {
    margin: 30px;

    width: calc((100% - 240px) / 4);
  }
}

.team-wrapper__member {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  text-align: center;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: ($tablet - 1)) {
    font-size: 10px;
  }
}

.team-wrapper__role {
  font-family: 'Roboto';
  font-weight: 500;
  padding: 10px;
  font-size: 12px;
  color: #ff6b08;
  text-align: center;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: ($tablet - 1)) {
    font-size: 7px;
  }
}

.modal-team__icon:hover,
.modal-team__icon:focus,
.footer-text_link:hover,
.footer-text_link:focus {
  color: #ff6b08;
  cursor: pointer;
}

.team-wrapper__image {
  margin-bottom: 10px;
  width: 100%;
}