

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  // @media screen and (max-width: 767px) {
  //   padding: 20px 0 30px;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1279px) {
  //   padding: 219px 0 30px;
  // }

  // @media screen and (min-width: 1280px) {
  //   padding: 150px 0 30px;
  // }
}

.modal-team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 600px;
  min-width: 800px;
  border-radius: 5px;
 

  background-color:rgb(243, 243, 227);

  // @media screen and (max-width: 767px) {
  //   width: 280px;
  //   height: 940px;
  //   padding: 48px 20px 40px;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1279px) {
  //   width: 704px;
  //   height: 552px;
  //   padding: 40px 36px;
  // }

  // @media screen and (min-width: 1280px) {
  //   width: 806px;
  //   height: 558px;
  //   padding: 40px 12px;
  // }
}

.modal-backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.team-wrapper {
  display: flex;
  flex-basis: calc((100% - 40px)/3);
}

.modal-team__member {
font-size: 15px;
flex-basis: calc((100% - 40px)/3);
}

.modal-team__role {
display: flex;
margin: 10px;
font-size: 10px;
}

.modal-team__btn { 
  background-color:transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  order: 1;
}

.modal-team__list {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  row-gap: 16px;
  width: 100%; 
}

.modal__container-title {
padding-top: 15px;
text-align: center;
align-items: center;
}

.team-members__container {
  padding: 25px;
  align-items: center;
  margin: auto;
  text-align: center;
}

.team-members__img {
  display: block;
  max-width: 100%;
  height: auto;
}