.header-library {
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $mobile) {
        height: 230px;
    }

    background: rgba(0, 0, 0, 0.56);
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)),
    url(../images/header-library-background-img/header-library-bcgrd-mobile1x.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.56),
                rgba(0, 0, 0, 0.56)),
            url(../images/header-library-background-img/header-library-bcgrd-mobile2x.png);
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $tablet) {
        height: 216px;
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.56),
                rgba(0, 0, 0, 0.56)),
            url(../images/header-library-background-img/header-library-bcgrd-tablet1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.56),
                    rgba(0, 0, 0, 0.56)),
                url(../images/header-library-background-img/header-library-bcgrd-tablet2x.png);
        }
    }

    @media screen and (min-width: $desktop) {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.56),
                rgba(0, 0, 0, 0.56)),
            url(../images/header-library-background-img/header-library-bcgrd-desktop1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.56),
                    rgba(0, 0, 0, 0.56)),
                url(../images/header-library-background-img/header-library-bcgrd-desktop2x.png);
        }
    }
}

.header-library__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-library__tittle {
    display: none;
    margin: 0;

    @media screen and (min-width: $tablet) {
        margin-left: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.17;
        color: #ffffff;
        display: flex;
    }
}

.header-library__link {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-left: auto;
}

.header-library__link:last-child {
    margin-left: 40px;
}

.header-library__btn-list {
    display: flex;
    justify-content: space-evenly;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}

.header-library__btn {
    padding: 14px 36px 12px 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #ffffff;
    width: 129.53px;
    height: 44px;
    border-radius: 5px;
    background-color: transparent;
    border-color: #fff;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
        width: 152px;
        height: 44px;
        margin-right: 32px;
    }

    @media screen and (min-width: $desktop) {
        width: 147px;
        height: 42px;
        margin-right: 20px;
    }
}

.header-library__btn:last-child {
    margin-right: 0;
}

.header-library__btn:hover {
    background-color: #ff6b01;
    border: none;
}

.header-library__btn:focus {
    background-color: #ff6b01;
    border: none;
}

.header-library__btn.is-active {
    background-color: #ff6b01;
    border: none;
}

.nav-library {
    display: flex;
    align-items: center;
    padding: 40px 20px 40px 20px;
}

.header-library__list {
    display: flex;
    margin-left: auto;
}

.nav-library__logo {
    display: flex;
    align-items: center;
}