.header-library {
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $mobile) {
        height: 230px;
    }

    background: rgba(0, 0, 0, 0.56);
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)),
    url(../images/header-library-background-img/header-library-bcgrd-mobile1x.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.56),
                rgba(0, 0, 0, 0.56)),
            url(../images/header-library-background-img/header-library-bcgrd-mobile2x.png);
    }

    @media screen and (min-width: $tablet) {
        height: 216px;
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.56),
                rgba(0, 0, 0, 0.56)),
            url(../images/header-library-background-img/header-library-bcgrd-tablet1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.56),
                    rgba(0, 0, 0, 0.56)),
                url(../images/header-library-background-img/header-library-bcgrd-tablet2x.png);
        }
    }

    @media screen and (min-width: $desktop) {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.56),
                rgba(0, 0, 0, 0.56)),
            url(../images/header-library-background-img/header-library-bcgrd-desktop1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.56),
                    rgba(0, 0, 0, 0.56)),
                url(../images/header-library-background-img/header-library-bcgrd-desktop2x.png);
        }
    }
}

.header-library__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-library__tittle {
    display: none;
    margin: 0;

    @media screen and (min-width: $tablet) {
        margin-left: 10px;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.17;
        color: $header-text-color;
        display: flex;
    }
}

.header-library__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: scale-logo 2000ms infinite linear;

    @keyframes scale-logo {
        0% {
            transform: scale(0.75) rotate(180deg);
        }

        50% {
            transform: scale(1.25);
        }

        100% {
            transform: scale(0.75) rotate(360deg);
        }
    }

    @include tablet {
        margin-left: 17px;
    }


}

.header-library__link {
    position: relative;
    color:$header-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-left: auto;
}

.header-library__link--active {
    border-bottom: 3px solid #ff001b;
}

.header-library__link:last-child {
    margin-left: 40px;
}

.header-library__btn-list {
    display: flex;
    justify-content: space-evenly;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}

.header-library__btn {
    padding: 14px 36px 12px 36px;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: $header-text-color;
    width: 130px;
    height: 44px;
    border-radius: 5px;
    background-color: transparent;
    border-color:$header-text-color;
    scale: 1;
    cursor: pointer;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus, 
    .is-active{
        scale: 1.1;
        box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
        background-color: $accentBg-color;
        border: $accentBg-color;
    }

    @media screen and (min-width: $tablet) {
        width: 152px;
        height: 44px;
        margin-right: 32px;
    }

    @media screen and (min-width: $desktop) {
        width: 147px;
        height: 42px;
        margin-right: 20px;
    }
}

.header-library__btn:last-child {
    margin-right: 0;
}

.nav-library {
    display: flex;
    align-items: center;
    padding: 40px 20px 40px 20px;
}

.header-library__list {
    display: flex;
    margin-left: auto;
}

.nav-library__logo {
    display: flex;
    align-items: center;
}


// Ще обдумати, як це зробити
.plug {
    // display: block;
    padding-top: 30px;
    // align-content: center;
    // align-items: center;

    @media screen and (min-width: 1280px) {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.plug-img {
    width: 130px;

    @media screen and (min-width: 768px) {
        width: 300px;
    }

    @media screen and (min-width: 1280px) {
        width: 350px;
    }
}

.plug-text {
    font-size: 14px;

    @media screen and (min-width: 768px) {
        font-size: 28px;
    }
}