.scroll-up {
    position: sticky;
    bottom: 50px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    margin-left: auto;
    color: #dcdcdc;
    cursor: pointer;
    visibility: hidden;
    border-radius: 50%;
    box-shadow: inset 0 0 0 4px #dcdcdc;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(25px);

    @media screen and (min-width: $tablet) {
            height: 100%;
        }
    @media screen and (min-width: $desktop) {
        margin-left: 100%;
    }
}

.scroll-up::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    content: "\21E7";
}

.scroll-up:hover {
    color: #ff6b08;
}

.scroll-up--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);

}

.scroll-up_svg-path {
    box-sizing: border-box;
    fill: none;
    stroke: #ff6b08;
    stroke-width: 4px;
    transition: 0.2s;

}
