@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

.slider-js {
    position: relative;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    @media screen and (min-width: $mobile) {
        max-width: 100%;
    }
}

.glide {
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 35px;

    .glide__slide {
        background-color: rgba(0, 0, 0, 0.56);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        overflow: hidden;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            transform: scale(1.04);
        }
    }

    &__bullets {
        bottom: 5px;
        padding: 5px;
    }

    &__bullet {
        background-color: rgba(57, 0, 9, 0.2);

        &:focus,
        &:hover {
            background-color: #ff6b08;
        }
    }

    &__slides {
        transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__track {
        transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .glide__bullet--active {
        background-color: #ff6b08;
    }

    @media screen and (max-width: 479px) {
        margin-bottom: 30px;

        &__bullets {
            display: none;
        }
    }

    @media screen and (min-width: $mobile) {
        margin-bottom: -15px;
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: -25px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: -25px;
    }
}